<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="THE CAFE"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:exported="true"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".SignupActivity"
            android:exported="true"/>
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".BasketActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".OrdersActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true" />
        <!--
                <activity
                    android:name=".MainActivityNewUser"
                    android:exported="true"
                    android:parentActivityName=".MainActivity"/>
                <activity
                    android:name=".MainActivity"
                    android:exported="true">
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
                </activity>
                -->
        <activity
            android:name=".ViewOrdersActivity"
            android:label="View Orders"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <activity
            android:name=".ViewRatingsActivity"
            android:label="View Ratings"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <activity
            android:name=".ManageItemsActivity"
            android:label="Manage Items"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <activity
            android:name=".SendNotificationsActivity"
            android:label="Send Notifications"
            android:theme="@style/Theme.MyApplication">
        </activity>
        <activity
            android:name=".AdminPanelActivity"
            android:label="Admin Panel"
            android:theme="@style/Theme.MyApplication">
        </activity>

        <activity
            android:name=".AddAdminActivity"
            android:label="Add Admin"
            android:theme="@style/Theme.MyApplication">
        </activity>


    </application>

</manifest>